[submodule ".hammerspoon/hs/tiling"]
	path = .hammerspoon/hs/tiling
	url = https://github.com/dsanson/hs.tiling.git
[submodule ".local/pfetch"]
	path = .local/pfetch
	url = https://github.com/dylanaraps/pfetch.git
[submodule ".local/oh-my-zsh"]
	path = .local/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".local/zsh-custom/plugins/zsh-autosuggestions"]
	path = .local/zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/vim-plug"]
	path = .local/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".local/zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .local/zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
