# https://bostonenginerd.com/posts/notmuch-of-a-mail-setup-part-1-mbsync-msmtp-and-systemd/
[Unit]
Description=Sync Mail every fifteen minutes

[Timer]
Persistent=false
OnBootSec=5min
OnUnitActiveSec=15min
Unit=mbsync.service

[Install]
WantedBy=default.target
